{% extends 'base.html' %} {% load static %} {% block content %}

<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            HOME</a> <a href="#">PACKAGE</a> <a href="#" class="current"> {% if data %}
            UPDATE PACKAGE {% else %}
            ADD PACKAGE{% endif %}
        </a> </div>
    <h1>PACKAGE</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid"></div>
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span> {% if data %}
                <h5>UPDATE PACKAGE</h5> {% else %}
                <h5>ADD PACKAGE</h5>{% endif %}

            </div>
            <div class="widget-content nopadding">


                <form class="form-horizontal" method="post" action="save" name="addpackage" id="addpackage" novalidate="novalidate">
                    {% csrf_token %} {% if data %}
                    <input type="hidden" name="id" id="id" value="{{data.id}}"></input>
                    <input type="hidden" name="slug" id="slug" value="package"></input>
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label">VenueId</label>
                        <div class="controls">
                            <input type="text" name="venue_id" id="venue_id">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Package Details</label>
                        <div class="controls">
                            <input type="text" name="package_details" id="package_details">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cost</label>
                        <div class="controls">
                            <input type="text" name="cost" id="cost">
                        </div>
                    </div>
                    <div class="form-actions">
                        {% if data %}
                        <input type="submit" value="Update Package" class="btn btn-success"> {% else %}
                        <input type="submit" value="Add Package" class="btn btn-success"> {% endif %}
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}