{% extends 'base.html' %} {% load static %} {% block content %}
<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
          Home</a></div>
</div>
<div class="widget-content nopadding">
    <table id="table_id" class="table table-bordered table-striped display">
        <thead>
            <tr>
                <th class="odd gradeX">id</th>
                <th class="odd gradeX">venue_id </th>
                <th class="odd gradeX">package_details</th>
                <th class="odd gradeX">cost</th>
                <th class="odd gradeX">remember_token</th>
                <th class="odd gradeX">created_at</th>
                <th class="odd gradeX">updated_at</th>
                <th class="odd gradeX">Action</th>

            </tr>
        </thead>
        <tbody>
            {% for p in data%}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.venue_id }}</td>
                <td>{{p.package_details}}</td>
                <td>{{p.cost}}</td>
                <td>{{p.remember_token}}</td>
                <td>{{p.created_at}}</td>
                <td>{{p.updated_at}}</td>
                <td><a href="editdata/{{p.id}}/package" class="btn btn-success">EDIT</a></td>

                <td><a href="deletdata/{{p.id}}/package" class="btn btn-danger">DELETE</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}